@use "variables" as *;
nav {
  max-width: 60vw;
  margin: 50px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;

  @include mqmax(large) {
    flex-direction: column;
    gap: 10px;
  }
  &-responsive {
    display: none;
  }
}

.responsive-button {
  width: 120px;
  margin: 0 20px;
  background-color: transparent;
  border: none;
  color: $fontColor;
  font-size: 28px;
  text-transform: uppercase;
  font-family: $fontPrimary;
  letter-spacing: 0.05em;
  transition: 0.3s;
  margin-bottom: 20px;
  &:hover {
    color: $secondaryColor;
    transform: scale(1.15);
    cursor: pointer;
  }

  @include mq(large) {
    display: none;
  }
}

.nav-item {
  width: 120px;
  margin: 0 20px;
  background-color: transparent;
  border: none;
  color: $fontColor;
  font-size: 22px;
  text-transform: uppercase;
  font-family: $fontPrimary;
  letter-spacing: 0.05em;
  transition: 0.3s;
  &:hover {
    color: $secondaryColor;
    transform: scale(1.15);
    cursor: pointer;
  }
}

.active {
  color: $secondaryColor;
  transform: scale(1.15);
}

.active-item {
  color: $secondaryColor;
  transform: scale(1.15);
}

.nav-logo {
  font-size: 60px;
  &:hover {
    transform: scale(1);
  }
  @include mqmax(large) {
    font-size: 22px;
  }
}

.active-logo {
  color: $secondaryColor;
}
